* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  /* border: 1px solid #333; */
  /* background: red; */
  margin: auto;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: #09080d;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
